{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "importOrder": [
    "^(api|app|components|router|store|theme|constants|types|helpers)",
    "^[./]"
  ],
  "importOrderSeparation": true, 
  "importOrderSortSpecifiers": true 
}
